<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product List</title>
    <link rel="icon"
        href="/images/uploads/1.jpg">
    <link rel="stylesheet" href="/stylesheets/adminHomestyle.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="#">BIKEBLISS.COM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/dashboard">DASHBOARD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/userlist">USERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/categorylist">CATEGORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/productlist">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/bannerlist">BANNERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/offerlist">OFFERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/couponlist">COUPONS</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/adminLogout">
                            <i class="fas fa-sign-out-alt"></i> LOGOUT
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 right">
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="createButton"><a href="/admin/prodCreate">Create Product</a></button>
                    <input class="col-6 form-control me-2 w-25" id="search" type="search" placeholder="Search Products"
                        aria-label="Search">
                </div>

                <br>

                <h2 class="text-danger text-center">
                    <%= text %>
                </h2>
                <table id='myTable'>
                    <thead>
                        <tr>
                           
                            <th>ID</th>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>DESCRIPTION</th>
                            <th>PRICE</th>
                            <th>COLOR</th>
                            <th>SIZE</th>
                            <th>CATEGORY</th>
                            <th>BRAND</th>
                            <th>STOCK</th>
                            <th>ACTION</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(x,i) { %>
                            <tr>
                              
                                <td>
                                    <%= x._id %>
                                </td>
                                <td id="name<%= i %>">
                                    <%= x.productName %>
                                </td>

                                <td>
                                    <img src="/images/uploads/<%= x.imageUrl[0] %>" class="card-img-top w-50"
                                        id="card_image<%= i %>" alt="Product Image">
                                </td>
                                <td id="description<%= i %>">
                                    <%= x.description %>
                                </td>
                                <td id="price<%= i %>">
                                    <%= x.price %>₹
                                </td>

                                <td id="color<%= i %>">
                                    <%= x.color %>
                                </td>
                                <td id="size<%= i %>">
                                    <%= x.size %>
                                </td>
                                <td id="category<%= i %>">
                                    <%= x.category.category %>
                                </td>
                                <td id="brand<%= i %>">
                                    <%= x.brand %>
                                </td>
                                <td id="stock<%= i %>">
                                    <%= x.stock %>
                                </td>
                                <td style="width: 10px;">
                                    <button class="buttons my-2"><a
                                            href="/admin/productEdit/<%= x._id %>">EDIT</a></button>

                                    <%if(x.isDeleted===true){ %>
                                        <button class="buttons my-2"><a
                                                href="/admin/productList/<%= x._id %>">LIST</a></button>
                                        <% }else{%>
                                            <button class="buttons my-2"><a
                                                    href="/admin/productUnlist/<%= x._id %>">UNLIST</a></button>
                                            <%}%>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <style>
                    .pagination-container {
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                    }

                    .pagination-link {
                        margin: 0 5px;
                        padding: 5px 10px;
                        border: 1px solid #ccc;
                        text-decoration: none;
                        color: #333;
                        background-color: #f7f7f7;
                        cursor: pointer;
                    }

                    .pagination-link.active {
                        background-color: #555;
                        color: #fff;
                    }
                </style>

                <div class="pagination-container">
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <a href="/admin/productlist?page=<%= i %>"
                            class="pagination-link<%= i === currentPage ? ' active' : '' %>">
                            <%= i %>
                        </a>
                        <% } %>
                </div>

            </div>
        </div>
    </div>
    </div>


    <script>
        //searching the users

        // Get the search input and table rows
        const searchInput = document.querySelector('input[type="search"]');
        const tableRows = document.querySelectorAll('tbody tr');

        // Add an event listener to the search input
        searchInput.addEventListener('input', function () {
            const searchValue = this.value.toLowerCase();

            // Loop through the table rows and hide/show them based on the search input
            tableRows.forEach(function (row) {
                const productName = row.querySelector('td:nth-of-type(3)').textContent.toLowerCase();

                if (productName.includes(searchValue)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>