<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminHomestyle.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="left col-sm-2">

                <h2>Welcome</h2>

                <div class="col-md-5 mx-auto">
                    <div class="head">
                        <img
                            src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg">

                    </div>
                </div>
                <br>
                <button class="menubutton my-2"><a href="/admin/dashboard">Dashboard</a></button>
                <button class="menubutton my-2"><a href="/admin/userlist">Users</a></button>
                <button class="menubutton my-2"><a href="/admin/categorylist">Category</a></button>
                <button class="selectedbutton my-2"><a href="/admin/productlist">Product</a></button>
                <button class="menubutton"><a href="/admin/prodCreate">Create Product</a></button>
                <button class="menubutton my-2"><a href="/admin/adminLogout">Logout</a></button>
            </div>
            <div class="col-sm-10 right">
                <br>
                <div class=" d-flex justify-content-end">
                    <input class="col-6 form-control me-2  w-25" id="search" type="search" placeholder="Search Products"
                        aria-label="Search">
                </div>
                <br>

                <!-- popup element -->

                <div id="editPopupLarge" style="display:none;">
                    <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                        <label for="name">Product Name:</label>
                        <input class="w-75 mx-auto my-2 form-control" type="text" id="card_title" name="card_title"><br>
                        <label for="name">Product Image:</label>
                        <input class="w-50 mx-auto my-3 form-control" type="file" id="card_image" name="image"><br>
                        <label for="name">Product Description:</label>
                        <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Description"
                            name="card_Description"><br>
                        <label for="name">Product Price:</label>
                        <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Price" name="card_Price"><br>
                        <label for="name">Product Color:</label>
                        <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Color" name="card_Color"><br>
                        <!-- <label for="name">Product Size:</label>
                            <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Size" name="card_Size"><br>
                            <label for="name">Product category:</label>
                            <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Category" name="card_Category"><br>
                            <label for="name">Product Brand:</label>
                            <input class="w-75 mx-auto my-2 form-control" type="text" id="card_Brand" name="card_Brand"><br>
                           -->


                        <input type="hidden" name="id" id="cat_id">
                        <button class="w-75 mx-auto my-2 form-control " type="button"
                            onclick="onFormClose()">Close</button>
                        <button class="w-75 mx-auto my-2 form-control " type="submit">Submit</button>
                    </form>
                </div>
                <!---->
                <table id='myTable'>
                    <thead>
                        <tr>
                            <th>SL.NO</th>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>DESCRIPTION</th>
                            <th>PRICE</th>
                            <th>COLOR</th>
                            <th>SIZE</th>
                            <th>CATEGORY</th>
                            <th>BRAND</th>
                            <th>ACTION</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(x,i) { %>
                            <tr>
                                <td style="width: 10px;">
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= x._id %>
                                </td>
                                <td id="name<%= i %>">
                                    <%= x.productName %>     
                                </td>
                                <td>
                                    <img src="/images/uploads/<%= x.imageUrl[0] %>" class="card-img-top w-100" id="image<%= i %>"
                                        alt="Product Image">
                                    
                                </td>
                                <td id="description<%= i %>">
                                    <%= x.description %>
                                </td>
                                <td id="price<%= i %>">
                                    <%= x.price %>
                                </td>
            
                                <td id="color<%= i %>">
                                    <%= x.color %>
                                </td>
                                <td id="size<%= i %>">
                                    <%= x.size %>
                                </td>
                                <td id="category<%= i %>">
                                    <%= x.category.category %>
                                </td>
                                <td id="brand<%= i %>">
                                    <%= x.brand %>
                                </td>
                                <td style="width: 10px;">
                                    <input type="hidden" name="id" value="<%= x._id %> " id="cat_id<%= i %>">
                                    <button class="buttons my-2" id="editButton" onclick="editProduct('<%= i %>')">EDIT</button>
                                   
                                    <button class="buttons my-2"><a href="/admin/productDelete/<%= x._id %>">DELETE</a></button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
    </div>

    




    <script>
        const button = document.getElementById('editButton');
        function editProduct(i) {

            // Get the current values from the table
            var id = document.querySelector(`#cat_id${i}`).value;
            var name = document.querySelector(`#name${i}`).innerText;
            const image = document.querySelector(`#image${i}`).getAttribute('src');
            var description = document.querySelector(`#description${i}`).innerText;
            var price = document.querySelector(`#price${i}`).innerText;
            var color = document.querySelector(`#color${i}`).innerText;
            // var size = document.querySelector(`#size${i}`).innerText;
            // var category = document.querySelector(`#category${i}`).innerText;
            // var brand = document.querySelector(`#brand${i}`).innerText;



            // Set the values in the popup
            document.querySelector("#cat_id").value = id;
            document.querySelector("#card_title").value = name;
            document.querySelector("#card_image").fileName = image;
            document.querySelector("#card_Description").value = description;
            document.querySelector("#card_Price").value = price;
            document.querySelector("#card_Color").value = color;
            // document.querySelector("#card_Size").value = size;
            // document.querySelector("#card_Category").value = category;
            // document.querySelector("#card_Brand").value = brand;



            // Open the popup
            document.querySelector("#editPopupLarge").style.display = "block";
        }

        // close the popup
        function onFormClose() {
            document.querySelector("#editPopupLarge").style.display = "none";
        }
    </script>
     <script>
        //searching the users

        // Get the search input and table rows
        const searchInput = document.querySelector('input[type="search"]');
        const tableRows = document.querySelectorAll('tbody tr');

        // Add an event listener to the search input
        searchInput.addEventListener('input', function () {
            const searchValue = this.value.toLowerCase();

            // Loop through the table rows and hide/show them based on the search input
            tableRows.forEach(function (row) {
                const productName = row.querySelector('td:nth-of-type(3)').textContent.toLowerCase();

                if (productName.includes(searchValue)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>